html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  background: #f3feff;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

button {
  cursor: pointer;
}

.list {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.link {
  text-decoration: none;
}

.container {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

@media screen and (min-width: 320px) {
  .container {
    width: 320px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
:root {
  --accent-font: "Roboto", sans-serif;
  --main-color: #0101e6;
  --black-color: #000000;
  --bg-footer-color: #EEEFF1;
  --copyr-color: #969696;
  --bg-overlay: rgba(134, 137, 139, 0.8);
  --link-hover-color: #ff0000;
  --text-color: #585858;
  --element-color: #7b3be0;
  --white-color: #FFFFFF;
  --instag-color: #d87093;
  --faceb-color: #0000a3;
  --teleg-color: #3fb4fd;
  --vibe-color: #a604b4;
  --transition-function: 350ms ease-out;
}

.header {
  display: flex;
  align-items: center;
  background: var(--white-color);
}

.header__nav-icon {
  vertical-align: middle;
  fill: var(--main-color);
}
.header__nav-icon:not(:last-child) {
  margin-right: 8px;
}

.header__nav-link:hover .header__nav-icon,
.header__nav-link:hover {
  fill: var(--link-hover-color);
  color: var(--link-hover-color);
  transform: scale(1.04);
}

.change-lang {
  width: 50px;
  height: 25px;
  color: var(--main-color);
  border-color: var(--main-color);
  border-radius: 2px;
}
.change-lang:hover {
  color: var(--link-hover-color);
  border-color: var(--link-hover-color);
}

@media screen and (min-width: 320px) {
  .header__logo {
    width: 100px;
    height: 50px;
    margin-right: 15px;
  }
  .header__nav {
    display: flex;
    flex-direction: row;
  }
  .header__nav-link {
    display: inline-block;
    font-size: 14px;
    color: var(--main-color);
    transition: transform var(--transition-function);
  }
  .header__nav-icon {
    display: none;
  }
  .change-lang {
    margin-top: auto;
    margin-bottom: auto;
  }
}
@media screen and (min-width: 768px) {
  .header {
    justify-content: space-between;
  }
  .header__logo {
    width: 200px;
    height: 80px;
    padding-left: 20px;
  }
  .header__nav {
    padding-right: 30px;
  }
  .header__nav-link {
    display: flex;
    align-items: center;
    font-size: 20px;
  }
  .header__nav-link:not(:last-child) {
    margin-right: 20px;
  }
  .header__nav-icon {
    display: block;
  }
  .header__nav-contact {
    display: flex;
    align-items: center;
    margin-right: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .header__logo {
    width: 247px;
    height: 105px;
    padding-left: 40px;
  }
  .header__nav {
    padding-right: 50px;
  }
  .header__nav-link {
    font-size: 24px;
  }
  .header__nav-link:not(:last-child) {
    margin-right: 40px;
  }
}
.hero {
  display: flex;
  background-image: url("../img/hero/bg/hero-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.hero__sub {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero__title::after {
  content: "";
  display: block;
  width: 100px;
  height: 2px;
  background-color: var(--element-color);
}

.hero__text {
  text-align: center;
  font-family: var(--accent-font);
  font-style: italic;
  font-weight: 500;
  color: var(--text-color);
  padding: 20px 30px;
  border-radius: 20px;
  box-shadow: 0 0 20px var(--white-color);
}

.hero_btn {
  font-family: var(--accent-font);
  width: 150px;
  height: 50px;
  text-align: center;
  color: var(--white-color);
  background: var(--element-color);
  border: 2px solid var(--white-color);
  border-radius: 40px;
  transition: var(--transition-function);
}
.hero_btn:hover {
  background: var(--faceb-color);
}

@media screen and (min-width: 320px) {
  .hero__wrapper {
    display: flex;
    flex-direction: column;
  }
  .hero__img {
    width: 100px;
    height: 120px;
    margin-right: auto;
    margin-left: auto;
  }
  .hero__sub {
    padding: 10px 10px 20px 10px;
  }
  .hero__title::after {
    margin-bottom: 25px;
  }
  .hero__text {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 768px) {
  .hero__wrapper {
    display: flex;
    flex-direction: row;
  }
  .hero__img {
    width: 210px;
    height: 260px;
    margin-left: 40px;
    margin-top: auto;
    margin-bottom: auto;
  }
  .hero__sub {
    padding: 30px;
  }
  .hero__title::after {
    margin-top: 10px;
    margin-bottom: 30px;
  }
  .hero__text {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__img {
    width: 400px;
    height: 500px;
    margin-left: 40px;
  }
  .hero__sub {
    padding: 40px 60px;
  }
  .hero__title::after {
    margin-top: 50px;
    margin-bottom: 80px;
  }
  .hero__text {
    margin-bottom: 60px;
  }
}
.catalog {
  padding: 30px 20px 20px 20px;
}

.catalog__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.catalog__title {
  text-align: center;
  font-family: var(--accent-font);
  font-weight: 500;
  letter-spacing: 4px;
  color: var(--black-color);
  margin-bottom: 20px;
}

.catalog__img-over {
  position: relative;
  overflow: hidden;
}

.catalog__item-img-link {
  display: block;
  transition: var(--transition-function);
}
.catalog__item-img-link.is-hidden .overlay {
  transform: translate(0, 0);
}
.catalog__item-img-link:hover {
  transform: scale(1.08);
}

.catalog__item-img {
  width: 250px;
  height: 250px;
  border-radius: 3px;
}

.overlay {
  position: absolute;
  overflow: auto;
  transform: translate(0, 100%);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  padding: 30px 24px;
  color: var(--white-color);
  background-color: var(--bg-overlay);
  transition: var(--transition-function);
}

@media screen and (min-width: 320px) {
  .catalog__list {
    gap: 20px;
  }
}
@media screen and (min-width: 768px) {
  .catalog__list {
    gap: 30px;
  }
}
.footer {
  padding: 20px 10px 10px 10px;
  background: var(--bg-footer-color);
}

.footer__logo {
  transition: transform var(--transition-function);
}
.footer__logo:hover {
  transform: scale(1.1);
}

.footer__contact-list {
  text-align: center;
  margin-bottom: 30px;
}

.footer__contact-link {
  font-family: var(--accent-font);
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  color: var(--text-color);
  transition: var(--transition-function);
}

.footer__contact-item:not(:last-child) {
  margin-bottom: 10px;
}

.footer__contact-icon {
  vertical-align: middle;
  fill: var(--text-color);
  transition: var(--transition-function);
}
.footer__contact-icon:not(:last-child) {
  margin-right: 8px;
}

.footer__contact-link:hover .footer__contact-icon,
.footer__contact-link:hover {
  fill: var(--link-hover-color);
  color: var(--link-hover-color);
}

.footer__social-list {
  display: flex;
}

.footer__social-item:not(:last-child) {
  margin-right: 20px;
}

.footer__social-icon {
  transition: transform var(--transition-function);
}
.footer__social-icon:hover {
  transform: scale(1.2);
}

.instag {
  fill: var(--instag-color);
}

.faceb {
  fill: var(--faceb-color);
}

.teleg {
  fill: var(--teleg-color);
}

.vibe {
  fill: var(--vibe-color);
}

.footer-copyright {
  font-family: var(--accent-font);
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  color: var(--text-color);
  margin-top: 20px;
  padding: 20px 0 1px 0;
  border-top: 1px solid var(--copyr-color);
}

@media screen and (min-width: 320px) {
  .footer-wrapper {
    display: flex;
    flex-direction: column;
  }
  .footer__logo {
    display: block;
    width: 140px;
    height: 70px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
  }
  .footer__social {
    margin-right: auto;
    margin-left: auto;
  }
}
@media screen and (min-width: 768px) {
  .footer-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .footer__logo {
    width: 178px;
    height: 82px;
    margin-bottom: 0;
  }
  .footer__contact-list {
    margin-bottom: 0;
  }
  .footer__social {
    margin-right: 0;
    margin-left: 0;
  }
}
.backdrop {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity var(--transition-function), visibility var(--transition-function);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.form__container {
  width: 500px;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  padding: 20px;
}

.form__title {
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
}

.form__text {
  text-align: center;
  margin-bottom: 20px;
}

.form__field {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__field-item {
  margin-bottom: 15px;
}

.form__field-descrip {
  display: block;
}

.form__field-item-wrapper {
  display: block;
  position: relative;
}

.form__field-icon {
  position: absolute;
  top: 50%;
  left: 8px;
  transform: translateY(-50%);
}

.form__field-input {
  width: 260px;
  padding: 5px 8px 5px 30px;
  box-sizing: border-box;
}

.form__field-message {
  width: 260px;
  height: 100px;
  padding: 10px;
  box-sizing: border-box;
  resize: none;
}

.form__button {
  width: 120px;
  padding: 5px;
}

.form__container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--white-color);
  padding: 40px;
}

.form__modal-close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  transition: color var(--transition-function);
}
.form__modal-close-btn:hover, .form__modal-close-btn:focus {
  border-color: var(--link-hover-color);
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2);
  /*outline: none;*/
}
.form__modal-close-btn:hover .form__modal-close-icon, .form__modal-close-btn:focus .form__modal-close-icon {
  fill: var(--link-hover-color);
}

.modal__container {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 50px;
  max-width: 500px;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  padding: 25px 25px 20px 40px;
  background: var(--white-color);
  border-radius: 10px;
  box-shadow: 0 0 6px var(--white-color);
}

.modal__title {
  font-family: var(--accent-font);
  font-weight: 500;
  font-size: 28px;
  color: var(--black-color);
  text-align: center;
  margin-bottom: 40px;
}

.modal__list {
  display: flex;
  flex-direction: column;
  color: var(--main-color);
}

.modal__item:not(:last-child) {
  margin-bottom: 15px;
}

.modal__item-text {
  font-family: var(--accent-font);
  font-weight: 400;
  font-size: 20px;
  color: var(--text-color);
  text-align: start;
}

.modal__item-contact {
  color: var(--black-color);
  transition: var(--transition-function);
}
.modal__item-contact:hover {
  color: var(--link-hover-color);
}

.modal__item-link {
  color: var(--main-color);
  transition: var(--transition-function);
}
.modal__item-link:hover {
  color: var(--link-hover-color);
}

.modal-close-btn {
  fill: var(--main-color);
  border: none;
  background: transparent;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  transition: var(--transition-function);
}
.modal-close-btn:hover {
  fill: var(--link-hover-color);
}

.modal-close-icon {
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
.top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 13px;
  z-index: 5;
  font-size: 10px;
  border: none;
  outline: none;
  background-color: var(--copyr-color);
  color: var(--white-color);
  cursor: pointer;
  padding: 16px 8px;
  border-radius: 50%;
  transition: var(--function-transition);
}
.top:hover {
  background-color: var(--text-color);
}/*# sourceMappingURL=main.css.map */