.footer {
    padding: 20px 10px 10px 10px;
    background: var(--bg-footer-color);
}

.footer__logo {
    transition: transform var(--transition-function);

    &:hover {
        transform: scale(1.1);
    }
}

.footer__contact-list {
    text-align: center;
    margin-bottom: 30px;
}

.footer__contact-link {
    font-family: var(--accent-font);
    font-weight: 400;
    font-style: normal;
    color: var(--text-color);
    transition: var(--transition-function);
}

.footer__contact-item:not(:last-child) {
    margin-bottom: 10px;
}

.footer__contact-icon {
    vertical-align: middle;
    fill: var(--text-color);
    transition: var(--transition-function);

    &:not(:last-child) {
        margin-right: 8px;
    }
}

.footer__contact-link:hover .footer__contact-icon,
.footer__contact-link:hover {
    fill: var(--link-hover-color);
    color: var(--link-hover-color);
}

.footer__social-list {
    display: flex;
}

.footer__social-item:not(:last-child) {
    margin-right: 20px;
}

.footer__social-icon {
    transition: transform var(--transition-function);

    &:hover {
        transform: scale(1.2);
    }
}

.instag {
    fill: var(--instag-color);
}

.faceb {
    fill: var(--faceb-color);
}

.teleg {
    fill: var(--teleg-color);
}

.vibe {
    fill: var(--vibe-color);
}

.footer-copyright {
    font-family: var(--accent-font);
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    color: var(--text-color);
    margin-top: 20px;
    padding: 10px 0 0 0;
    border-top: 1px solid var(--copyr-color);
}

@media screen and (min-width: 320px) {
    .footer-wrapper {
        display: flex;
        flex-direction: column;
    }

    .footer__logo {
        display: block;
        width: 140px;
        height: 70px;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 20px;
    }

    .footer__contact-link {
        font-size: 16px;
    }

    .footer__social {
        margin-right: auto;
        margin-left: auto;
    }
}

@media screen and (min-width: 768px) {
    .footer-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .footer__logo {
        width: 178px;
        height: 82px;
        margin-bottom: 0;
    }

    .footer__contact-list {
        margin-bottom: 0;
    }

    .footer__contact-link {
        font-size: 18px;
    }

    .footer__social {
        margin-right: 0;
        margin-left: 0;
    }
}

@media screen and (min-width: 1200px) {
    .footer__contact-link {
        font-size: 20px;
    }
}