.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--white-color);
}

.header__logo {
    padding-left: 40px;
}

.header__nav {
    padding-right: 40px;
}

.header__nav-link {
    display: inline-block;
    color: var(--main-color);
    transition: transform var(--transition-function);
}

.header__nav-link:not(:last-child) {
    margin-right: 40px;
}

.header__nav-icon {
    vertical-align: middle;
    fill: var(--main-color);

    &:not(:last-child) {
        margin-right: 8px;
    }
}

.header__nav-link:hover .header__nav-icon,
.header__nav-link:hover {
    fill: var(--link-hover-color);
    color: var(--link-hover-color);
    transform: scale(1.04);
}

.change-lang {
    color: var(--main-color);
    border-color: var(--main-color);
    border-radius: 2px;
}