.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--white-color);
}

.header__logo {
    padding-left: 40px;
}

.header__nav {
    padding-right: 40px;
}

.header__nav-link {
    display: inline-block;
    color: var(--main-color);
    transition: transform var(--transition-function);
}

.header__nav-link:not(:last-child) {
    margin-right: 40px;
}

.header__nav-icon {
    vertical-align: middle;
    fill: var(--main-color);

    &:not(:last-child) {
        margin-right: 8px;
    }
}

.header__nav-link:hover .header__nav-icon,
.header__nav-link:hover {
    fill: var(--link-hover-color);
    color: var(--link-hover-color);
    transform: scale(1.04);
}

.header__button-lang {
    width: 30px;
    height: 25px;
    color: var(--main-color);
    border: 1px solid var(--main-color);
    border-radius: 3px;
    background: transparent;
    padding: 1px 3px;
    transition: transform var(--transition-function);

    &:not(:last-child) {
        margin-right: 1px;
    }

    &:hover {
        color: var(--link-hover-color);
        border-color: var(--link-hover-color);
        transform: scale(1.04);
    }
}

.header__button-lang:active {
    color: var(--white-color);
    background-color: var(--main-color);
    border-color: transparent;
}