.modal__container {
    position: relative;
    top: 100px;
    width: 500px;
    height: 380px;
    margin-right: auto;
    margin-left: auto;
    padding: 25px 25px 10px 40px;
    background: var(--white-color);
    border-radius: 10px;
}

.modal-close-btn {
    position: relative;
    top: 0;
    left: 470px;
    color: var(--text-color);
    background: transparent;
    border: 1px solid var(--text-color);
    border-radius: 50%;
    transition: var(--transition-function);

    &:hover {
        fill: var(--link-hover-color);
        border-color: var(--link-hover-color);
    }
}

.modal__title {
    font-family: var(--accent-font);
    font-weight: 500;
    font-size: 28px;
    color: var(--black-color);
    text-align: center;
    margin-bottom: 40px;
}

.modal__list {
    display: flex;
    flex-direction: column;
    color: var(--main-color);
}

.modal__item:not(:last-child) {
    margin-bottom: 15px;
}

.modal__item-text {
    font-family: var(--accent-font);
    font-weight: 400;
    font-size: 20px;
    color: var(--text-color);
    text-align: start;
}

.modal__item-contact {
    color: var(--black-color);
    transition: var(--transition-function);

    &:hover {
        color: var(--link-hover-color);
    }
}

.modal__item-link {
    color: var(--main-color);
    transition: var(--transition-function);

    &:hover {
        color: var(--link-hover-color);
    }
}