.top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 13px;
    z-index: 5;
    font-size: 14px;
    border: none;
    outline: none;
    background-color: var(--bg-overlay);
    color: var(--white-color);
    cursor: pointer;
    padding: 18px 8px;
    border-radius: 50%;
    transition: var(--function-transition);

    &:hover {
        background-color: var(--text-color);
    }
}