:root {
    --accent-font: 'Roboto', sans-serif;
    --main-color: #0101e6;
    --black-color: #000000;
    --bg-footer-color: #EEEFF1;
    --copyr-color: #969696;
    --bg-overlay: rgba(134, 137, 139, 0.8);
    --link-hover-color: #ff0000;
    --text-color: #585858;
    --element-color: #7b3be0;
    --white-color: #FFFFFF;
    --instag-color: #d87093;
    --faceb-color: #0000a3;
    --teleg-color: #3fb4fd;
    --vibe-color: #a604b4;
    --transition-function: 350ms ease-out;
}
